
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Uni Sans", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #0095DB;
$indigo: #6574cd;
$purple: #931787;
$pink: #f66D9b;
$red: #e3342f;
$orange: #ff7b00;
$yellow: #fac800;
$green: #38c172;
$teal: #69c4b4;
$cyan: #046693;

$primary:       $blue;